body, html {
  margin: 0;
  padding: 0;
  background: #F5D6BA;
  color: #2C2C54;
  font-family: "Lato", sans-serif;
}

.title-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 900;
  font-style: normal;
  font-size: xxx-large;
}

.copy-link {
  display: block;

  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  text-align: center;

  border: none;
  border-radius: 100vw;

  transform: translate(-5px, -5px);
  filter: drop-shadow(5px 5px 0px #A40E4C);
  background: #F49D6E;
  color: #2C2C54;

  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;

  margin-top: 20px;

  margin-bottom: 5vh;

  
  width: 50vw;
}


.copy-link:hover {
  transform: translate(-7px, -7px);
  filter: drop-shadow(7px 7px 0px #A40E4C);
}

.copy-link:active {
  transform: translate(0px, 0px);
  filter: drop-shadow(0px 0px 0px #A40E4C);
}

.room-name {
  all: unset;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  text-align: center;
  border: 4px solid #F49D6E;
  border-radius: 100vw;
  
  width: 50vw;
}

.doorbell {
  width: 40vw;
  height: 40vw;
  max-width: 40vh;
  max-height: 40vh;
  display: block;

  aspect-ratio: 1;

  border: none;
  border-radius: 100%;

  transform: translate(-10px, -10px);
  filter: drop-shadow(10px 10px 0px #A40E4C);
  background: #F49D6E;

  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.doorbell:hover {
  transform: translate(-15px, -15px);
  filter: drop-shadow(15px 15px 0px #A40E4C);
}

.doorbell:active {
  transform: translate(0px, 0px);
  filter: drop-shadow(0px 0px 0px #A40E4C);
}

.doorbell-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
